#records {
    max-height: 250px;
    overflow: scroll;
}
.drawing {
    background-color:navajowhite;
}

.painting {
    background-color: antiquewhite;
}

.sketching {
    background-color:floralwhite;
}

